table td,
table th {
  text-align: center !important;
  vertical-align: middle !important;
}
.horizontal-th {
  width: 150px;
}

.page-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 4rem;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}
.right {
  justify-self: center;
}
.left ul {
  display: flex;
  flex-direction: column;
}

.toTopBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1b7397;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
