.Hero {
  background-color: #5b8844 !important;
}
.Protector {
  background-color: #ffcf8d !important;
}
.Ronin {
  background-color: #454e6d !important;
}
.Medic {
  background-color: #ffe17e !important;
}
.Survivalist {
  background-color: #971417 !important;
}
.Gunner {
  background-color: #476f9f !important;
}
.War {
  background-color: #a17643 !important;
}
.Highlander {
  background-color: #bad1c5 !important;
}
.Sovereign {
  background-color: #bf0000 !important;
}
.Shogun {
  background-color: #513a3d !important;
}
.Zodiac {
  background-color: #d5c0df !important;
}
.Ninja {
  background-color: #7e7f00 !important;
}
.Farmer {
  background-color: #f7b758 !important;
}
.Landsknecht {
  background-color: #5c7fb4 !important;
}
.Nightseeker {
  background-color: #7a8b81 !important;
}
.Arcanist {
  background-color: #9adc65 !important;
}
.Imperial {
  background-color: #183040 !important;
}
.Pugilist {
  background-color: #aa7c4f !important;
}
.Harbinger {
  background-color: #904bbc !important;
}
