.menu-item {
  outline: 0;
  border: 0;
  background: transparent;
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  cursor: pointer;
}
.menu-item:hover {
  background-color: whitesmoke;
  color: #363636;
}
