.right {
  justify-self: center;
}
table td,
table th {
  text-align: center !important;
  vertical-align: middle !important;
}
.horizontal-th {
  width: 150px;
}

.skill-container {
  margin: 4rem 0;
}
