.right {
  justify-self: center;
}
table td,
table th {
  text-align: center !important;
  vertical-align: middle !important;
}
.horizontal-th {
  width: 150px;
}

.skill-container {
  margin: 4rem 0;
}

.tag {
  color: #f5f5f5 !important;
}

.container-force:first-child {
  margin-bottom: 4rem;
}
